name: MLOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run Tests (CI)
        run: pytest

  deploy-to-huggingface:
      needs: build-and-test
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v3
        
        - name: Deploy to Hugging Face
          env:
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
          run: |
            # 1. Install the tool
            pip install huggingface_hub
            
            # 2. Run the upload immediately
            python -m huggingface_hub.cli upload joaokishi/mlops-project . . --repo-type=space --token=$HF_TOKEN